<?xml version="1.0"?>

<configuration>
  <location path="ActivateAccount.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <allow roles="Admin" />
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="EditEmailAddr.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <allow roles="Admin" />
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="EditMobilePhone.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <allow roles="Admin" />
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="EditPassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <allow roles="Admin" />
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="EditProfile.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <allow roles="Admin" />
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="Profile.aspx">
    <system.web>
      <authorization>
        <allow roles="Manager" />
        <allow roles="Admin" />
        <allow roles="User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
  <location path="ResetPassword.aspx">
    <system.web>
      <authorization>
        <allow roles="Reseter" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
</configuration>
